<div class="section-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/" class="text-dark">Trang chủ</a>
                    </li>

                    <li class="breadcrumb-item">
                        <a href="/wallet/transfer" class="text-dark">Chuyển tiền thành viên</a>
                    </li>
                </ol>

            </div>
        </div>
    </div>
</div>
<div class="section-gap">
    <div class="container">

        <section class="main">
            <div class="blockContent">
                <h4><span class="text-uppercase">Xác nhận chuyển tiền</span></h4>
                <div class="row">
                    <div class=" col-md-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Tài khoản nhận:</td>
                                    <td>
                                        <%-infoView.Username%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tên người nhận:</td>
                                    <td>
                                        <%-infoView.name%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số tiền:</td>
                                    <td>
                                        <%= String(Math.round(infoView.sotien)).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                            đ
                                    </td>
                                </tr>
                                <tr>
                                    <td>Phí:</td>
                                    <td>0 đ</td>
                                </tr>
                                <tr>
                                    <td>Thành tiền:</td>
                                    <td>
                                        <b>
                                            <%=
                                                String(Math.round(infoView.thanhtien)).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                                đ
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nội dung:</td>
                                    <td>
                                        <%-infoView.comment%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="card-footer">
                            <form action="/wallet/transfer/confirm" method="POST">


                                <%if(userInfo.isActivePassLevel2){%>
                                    <table class="table">
                                        <tbody>
                                            <tr>

                                                <td width="50%">
                                                    <div class="form-group">
                                                        <label>Mã xác thực</label>
                                                        <div><input type="password" class="form-control" name="secret"
                                                                placeholder="Nhập mật khẩu cấp 2">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <%}%>
                                        <input name="data_encode" value="<%-token%>" type="hidden">
                                        <input name="action" value="doPayment" type="hidden">
                                        <button type="submit" class="btn btn-primary"
                                            onclick="this.disabled=true;this.value='Đang thực hiện...';this.form.submit();">Xác
                                            nhận chuyển tiền</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>