<div class="block-header">
    <h2>Cấu hình nạp tiền</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Cấu hình nạp tiền

                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12">

                                <h2 class="card-inside-title">Tổng hạn mức ngày</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input value="<%= setting.deposit.totalday %>" id="hanmucngay" type="text"
                                            class="form-control" placeholder="Tổng hạn mức ngày">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">Số tiền nạp tối thiểu</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="minin" value="<%= setting.deposit.minin %>" type="text"
                                            class="form-control" placeholder="Số tiền nạp tối thiểu">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">Số tiền nạp tối đa</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="maxin" value="<%= setting.deposit.maxin %>" type="text"
                                            class="form-control" placeholder="Số tiền nạp tối đa">
                                    </div>
                                </div>
                                <button type="button" onclick="SaveSetting()" class="btn btn-danger waves-effect">Lưu
                                    lại</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Thông tin thanh toán nạp tiền
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="body">
                        <div class="row clearfix">

                            <div class="col-sm-6">
                                <div class="body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th>Số tài khoản</th>
                                                <th>Tên bank</th>
                                                <th>Cổng nạp</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var i=0; i < banks.length; i++) { %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= banks[i].name %>
                                                    </th>
                                                    <td>
                                                        <%= banks[i].stk %>
                                                    </td>
                                                    <td>
                                                        <%= banks[i].namebank %>
                                                    </td>
                                                    <td>
                                                        <%= banks[i].gate %>
                                                    </td>
                                                    <td>
                                                        <button type="button" onclick="removeBank('<%=banks[i]._id%>')"
                                                            class="btn btn-danger waves-effect">Xóa</button>

                                                    </td>
                                                </tr>
                                                <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h2 class="card-inside-title">Tên người nhận</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="name" type="text" class="form-control" placeholder="Tên người nhận">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">Số tài khoản</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="stk" type="text" class="form-control" placeholder="Số tài khoản">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">Ngân hàng</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="bankname" type="text" class="form-control" placeholder="Ngân hàng">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">Gate</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="gate" type="text" class="form-control" placeholder="Gate">
                                    </div>
                                </div>
                                <button type="button" onclick="addBank()"
                                    class="btn btn-primary m-t-15 waves-effect">Thêm bank</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Cấu hình auto nạp tiền
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="body">
                        <div class="row clearfix">

                            <div class="col-sm-12">
                                <h2>VCB_BANK</h2>
                                <h2 class="card-inside-title">Username</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="UsernameVcb" value="<%-setting.autoDeposit.VCBbank.username%>"
                                            type="text" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">Password</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="PasswordVcb" value="<%-setting.autoDeposit.VCBbank.password%>"
                                            type="text" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">accountNumber</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="accountNumberVcb"
                                            value="<%-setting.autoDeposit.VCBbank.accountNumber%>" type="text"
                                            class="form-control" placeholder="accountNumberVcb">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">Url Api</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="urlVcb" type="text" value="<%-setting.autoDeposit.VCBbank.urlApi%>"
                                            class="form-control" placeholder="urlMb">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">IsRunning</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="isRunningVcb" type="text" value="<%-setting.autoDeposit.VCBbank.isRunning%>"
                                            class="form-control" placeholder="isRunningVcb">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h2>Momo</h2>
                                <h2 class="card-inside-title">phoneNumber</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="phoneNumberMomo" value="<%-setting.autoDeposit.Momo.phoneNumber%>"
                                            type="text" class="form-control" placeholder="phoneNumber">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">urlApi</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="urlMomo" value="<%-setting.autoDeposit.Momo.urlApi%>" type="text"
                                            class="form-control" placeholder="urlApi">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <h2>TheSieure.com</h2>
                                <h2 class="card-inside-title">Username</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="usernameTsr" value="<%-setting.autoDeposit.Tsr.username%>"
                                            type="text" class="form-control" placeholder="usernameTsr">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">Password</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="passwordTsr" value="<%-setting.autoDeposit.Tsr.password%>"
                                            type="text" class="form-control" placeholder="passwordTsr">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <h2>GachThe1s.com</h2>
                                <h2 class="card-inside-title">Username</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="usernameTsr" value="<%-setting.autoDeposit.Gt1s.username%>"
                                            type="text" class="form-control" placeholder="usernameGt1s">
                                    </div>
                                </div>
                                <h2 class="card-inside-title">Password</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="passwordTsr" value="<%-setting.autoDeposit.Gt1s.password%>"
                                            type="text" class="form-control" placeholder="passwordGt1s">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12">
                            <button type="button" onclick="saveAutoDeposit()"
                                class="btn btn-primary m-t-15 waves-effect">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    saveAutoDeposit = () => {
        const UsernameVcb = $("#UsernameVcb").val()
        const PasswordVcb = $("#PasswordVcb").val()
        const accountNumberVcb = $("#accountNumberVcb").val()
        const urlVcb = $("#urlVcb").val()
        const isRunningVcb = $("#isRunningVcb").val()

        const phoneNumberMomo = $("#phoneNumberMomo").val()
        const urlApi = $("#urlApi").val()

        const usernameTsr = $("#usernameTsr").val()
        const passwordTsr = $("#passwordTsr").val()

        const usernameGt1s = $("#usernameGt1s").val()
        const passwordGt1s = $("#passwordGt1s").val()

        var autoDeposit = {
            VCBbank: {
                username: UsernameVcb,
                password: PasswordVcb,
                accountNumber: accountNumberVcb,
                urlApi: urlVcb,
                isRunning: isRunningVcb,
            },
            Momo: {
                phoneNumber: phoneNumberMomo,
                urlApi: urlApi,
            },
            Tsr: {
                username: usernameTsr,
                password: passwordTsr
            }
            ,
            Gt1s: {
                username: usernameGt1s,
                password: passwordGt1s
            }
        }

        $.ajax({
            url: "/deposit/saveDepositAuto",
            type: "post",
            data: {
                autoDeposit: autoDeposit
            },
            success: function (result) {
                alert(result.message)
            }
        });
    }
    SaveSetting = () => {
        const hanmucngay = $("#hanmucngay").val()
        const minin = $("#minin").val()
        const maxin = $("#maxin").val()
        $.ajax({
            url: "/deposit/savesettingbank",
            type: "post",
            data: {
                hanmucngay: hanmucngay,
                minin: minin,
                maxin: maxin
            },
            success: function (result) {
                alert(result.message)
            }
        });
    }
    removeBank = (id) => {
        $.ajax({
            url: "/deposit/removebank",
            type: "post",
            data: {
                _id: id
            },
            success: function (result) {
                alert(result.message)
                if (result.error == 0) {
                    location.reload();
                }
            }
        });
    }
    addBank = () => {
        const name = $("#name").val()
        const stk = $("#stk").val()
        const bankname = $("#bankname").val()
        const gate = $("#gate").val()
        $.ajax({
            url: "/deposit/gatemoney",
            type: "post",
            data: {
                name: name,
                stk: stk,
                bankname: bankname,
                gate: gate
            },
            success: function (result) {
                alert(result.message)
                if (result.error == 0) {
                    location.reload();
                }
            }
        });
    }
</script>